html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
    font-family: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    font-style: inherit; 
    vertical-align: baseline; 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0;
    background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

.header-widgets {
margin: 20px 0px;
overflow: hidden;
}

.header-widgets .widgets-header-information {
float: right;
margin: 0 0 0 48px;
}

.header-widgets .widgets-header-information:last-of-type {
margin-left: 0;
}

.header-widgets .widgets-header-information:nth-child(2),
.header-widgets .widgets-header-information:nth-child(3) {
margin-left: 50px;
}

.widgets-header-information .info-icon {
line-height: 1.3;
}

.header-widgets .widgets-header-information .info-icon i {
float: left;
margin-right: 19px;
margin-top: 2px;
font-size: 30px;
color: #1688d3;
}

.header-widgets .widgets-header-information .info-icon .content {
float: right;
margin-top: 3px;
}

.header.headerv2 {
-webkit-box-shadow: none;
        box-shadow: none;
background: #25232B;
}

.header.headerv2 .nav-wrap {
float: none;
display: flow-root;
}

.header.headerv2 .nav-wrap .menu.menu-extra {
float: right;
}

.header.headerv2 .social-links {
position: relative;
float: right;
margin-top: 15px;
padding-right: 8px;
}

.header.headerv2 .social-links::after {
position: absolute;
right: -25px;
top: 4px;
content: "";
width: 1px;
height: 22px;
background: #514f55;
}

.header.headerv2 #mainnav > ul > li:first-child > a {
font-weight: 700;
padding-left: 0;
}

.header.headerv2 #mainnav > ul > li > a,
.header.headerv2 .menu.menu-extra li a {
line-height: 60px;
}

.header.headerv2 #mainnav > ul > li > a,
.header.headerv2 .menu.menu-extra li a,
.header.headerv2 .social-links li a {
color: #fff;
}

.header.headerv2 #mainnav > ul > li > a:hover,
.header.headerv2 .menu.menu-extra li a:hover,
.header.headerv2 .social-links li a:hover,
.header.headerv2 #mainnav > ul > li.active > a {
color: #1688d3;
}

.header.headerv2 #mainnav ul.submenu {
left: 0;
}

/* Style3 */

.top.style2 .header-widgets .widgets-header-information {
margin: 0 0 0 76px;
}

.top.style2 .header-widgets .widgets-header-information:nth-child(2) {
margin-left: 79px;
}

.header.headerv2.style2 .menu.menu-extra li a {
margin-right: 3px;
}

.header.style2 .header-widgets .widgets-header-information .info-icon .content {
float: right;
margin-top: 4px;
}

.header.headerv2.style2 .social-links {
padding-right: 5px;
}

.header.headerv2.style2 .social-links::after {
height: 30px;
top: 0;
}

/* Header Style4 */
.site-header {
position: relative;
}

.top-header {
background-color: #ebebeb;
padding: 7px 0px 4px;
}

.wrap-top-header .flat-header {
float: right;
}

.top-header .intro-spec p,
.top-header .wrap-top-header .flat-language .current > a {
font-size: 12px;
color: #3c3a42;
}

.top-header .wrap-top-header .social-links {
position: relative;
padding-left: 35px;
margin-left: 7px;
}

.top-header .wrap-top-header .social-links::before {
position: absolute;
left: 0;
top: 6px;
width: 1px;
height: 15px;
content: "";
background: #c8c8c9;
}

.top-header .wrap-top-header .social-links li {
padding-top: 1px;
}

.top-header .wrap-top-header .social-links li a {
color: #3c3a42;
}

.top-header .wrap-top-header .social-links a:hover,
.top-header .wrap-top-header .flat-language .current > a:hover {
color: #1688d3;
}

.top.style2 .header-widgets.style2 .widgets-header-information {
margin: 0 0 0 78px;
}

.header-widgets.style2 .widgets-header-information .info-icon .content {
margin-top: 2px;
}

.header.bg-trans,
.header.bg-trans2 {
background: rgba( 0,0,0,0.3 );
position: absolute;
width: 100%;
z-index: 101;
}

.header.headerv2.bg-trans #mainnav > ul > li > a,
.header.headerv2.bg-trans .menu.menu-extra li a {
line-height: 50px;
}


/* Style 5 */
.header.headerv3 .full-width {
padding: 0 3.5%;	
}

.header.headerv3 .wrap-logo {
float: left;
}

.header.headerv3 .wrap-logo .logo {
margin-top: 27px;
}

.header.headerv3 .nav-wrap {
float: none;
}

.header.headerv3 .logo {
margin-top: 27px;
}

.header.headerv3 .wrap-style5 {
float: right;
margin-left: 7.5%;
}

.header.headerv3 .wrap-style5:nth-child(2) {
margin-left: 8.17%;
}

.header.headerv3 .wrap-style5:last-of-type {
margin-left: 0px;
}

.header.headerv3 .wrap-style5 .btn-click {
margin-top: 21px;
}

.header.headerv3 .wrap-style5 .social-links {
margin-top: 28px;
}

.header.headerv3 .wrap-style5 .social-links li a {
color: #66646d;
}

.header.headerv3 .wrap-style5 .social-links li a:hover {
color: #1688d3;
}

.header.headerv3 .wrap-style5 .informaiton-text .btn-click a {
padding: 11px 28px 13px 27px;
}

/* Header
-------------------------------------------------------------- */
.header {	
background-color: rgba(255, 255, 255, 0.9);
box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1); 
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
}

.header .logo {		
-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
margin-top: 26px;	
}

/* Header Fix */
.header.downscrolled {
position: fixed ;	
top: 0;
left: 0;
right: 0;
width: 100%;
z-index: 9999;   
background: rgba(255, 255, 255, 0.9);
}

.header.bg-violet.downscrolled {
background: rgba( 0,0,0,0.3 );
}

.header.downscrolled.scroll-head {
position: fixed;
top: 0;
width: 100%;
z-index: 9999;
opacity: 0;
top: -61px;
}

.header.upscrolled.scroll-head {
opacity: 1;
top: 0;
background: rgba( 0,0,0,0.3 );
}

.section-icon-info .box-header.icon-rotate>i {
transform: rotateY(180deg);
}

.section-icon-info .iconbox .box-content .box-title {
font-size: 14px;
color: #232530;
margin-bottom: 2px;
}

.section-icon-info .iconbox.style2 .box-header {
margin-right: 20px;
}

.section-icon-info .iconbox.style2 .box-header i {
font-size: 30px;
color: #1688d3;
}